<!DOCTYPE html>
<html>
<head>
<title>PsuedoElementSelector</title>
<style type="text/css">
		.btn{
			height: 50px;
			width: 100px;
			background: black;
			color: white;
			border-radius: 20px;
		}
 
		.btn:hover{
			color: grey;
			background: green;
		}
 
		.p1::first-line{
			color: red;
		}
 
		.p2::first-letter{
			font-size: 50px;
		}
</style>
</head>
<body>
 
	<button class="btn">Button</button>
<p class="p1">Lorem ipsum dolor sit amet. Est modi ipsam eum laborum obcaecati eum quod dolor. Et ipsa provident aut architecto voluptatibus qui consequatur eligendi id dolorem aspernatur aut suscipit voluptas in velit blanditiis. Rem fugit aspernatur sit perferendis voluptatibus sed dolorem dolore. dy>Aut corporis optio vel minima neque et harum enim et libero deleniti eum omnis eligendi aut labore earum et voluptatem ipsum. Eum veritatis sunt qui recusandae dolore sit eligendi mollitia eum autem asperiores in sunt officiis ut officia esse. Et minus ducimus ea quod error aut eius deserunt qui quibusdam dolorum. Et necessitatibus nemo sed assumenda distinctio qui quia earum qui amet modi. dy>Vel optio laboriosam quo velit omnis ad voluptatem quisquam est architecto ipsam qui delectus harum non aperiam debitis a commodi accusantium. Qui soluta assumenda quo autem assumenda sed quod rerum nam rerum animi qui tenetur odit nam veritatis soluta. Non expedita numquam quo expedita ratione ea autem fugit non natus delectus. dy></p>
 
	<p class="p2">Lorem ipsum dolor sit amet. Est modi ipsam eum laborum obcaecati eum quod dolor. Et ipsa provident aut architecto voluptatibus qui consequatur eligendi id dolorem aspernatur aut suscipit voluptas in velit blanditiis. Rem fugit aspernatur sit perferendis voluptatibus sed dolorem dolore. dy>Aut corporis optio vel minima neque et harum enim et libero deleniti eum omnis eligendi aut labore earum et voluptatem ipsum. Eum veritatis sunt qui recusandae dolore sit eligendi mollitia eum autem asperiores in sunt officiis ut officia esse. Et minus ducimus ea quod error aut eius deserunt qui quibusdam dolorum. Et necessitatibus nemo sed assumenda distinctio qui quia earum qui amet modi. dy>Vel optio laboriosam quo velit omnis ad voluptatem quisquam est architecto ipsam qui delectus harum non aperiam debitis a commodi accusantium. Qui soluta assumenda quo autem assumenda sed quod rerum nam rerum animi qui tenetur odit nam veritatis soluta. Non expedita numquam quo expedita ratione ea autem fugit non natus delectus. dy></p>
 
</body>
</html>