<!DOCTYPE html>
<html>
<head>
<title>Selectors Types</title>
<style type="text/css">
	/*1.Class Selector*/
	.demoforclassSelector{
		width: 500px;
		height: 700px;
		background: grey;

	}
    /*2.id selector*/
    demoforidSelector{
    	width: 750px;
    	height: 500px;
    	background: yellow;

    }
    /*combination Selector*/
    #sectio1.div3{
    	width: 250px;
    	height: 250px;
    	background: green;
    }
    <!-- 1.class selector
	2. id selector
	3. element selector
	4. psuedo class selector
	5. psuedo element selector
	6. combination selector -->

btn{
	background:green;
	padding: 1%;
	color: white;
	border-radius: 20px;
	width: auto;
	height: auto; 
	}
	.btn:hover{
	background: blue;
	color: black;
}
 
.input1:focus{
	background: green;
	height: 50px;
	width: 100px;
	color: white;
}
 
div:first-child{
	background: brown;
}
</style>
<link rel="stylesheet" type="text/css" href="style2.css">
</head>
<body>
 
	<button class="btn">Button</button>
 
	<input type="text" name="username" class="input1">
<div class="demoforclassSelector"></div>
<div id="demoIdSelector"></div>
 
	<section id="section1">
 <div class="div1">1</div>
<div class="div2">2</div>
<div class="div3">3</div>
</section>
<section id="section2">
<div class="div1">1</div>
<div class="div2">2</div>
<div class="div3">3</div>
</section>
 
</body>
</html>